@font-face {
    font-family: "Ubuntu";
    src: url(../font/Ubuntu-Regular.ttf);
}
h1{
    font-family: "Ubuntu";
    color: rgb(200, 9, 9);
    font-size: 38px;
}
label{
    font-family: "Ubuntu";
    font-size: 25px;
}
input , select{
    font-size: 27px;
    height: 56px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgb(205, 70, 17);
}
input:focus{
    outline: 0;
    border: 2px solid #2d0fd8;
    border-radius: 8px;
    transform: scale(1);
}
input[type="submit"]:hover{
    background-color: rgb(212, 243, 5);
    border-radius: 0;
    transform: scale(1.1);
}
input[type="submit"]{
    width: 110px;
    height: 50px;
    background-color: rgb(66, 5, 250);
    color: white;
    cursor: pointer;
    border: blue; 
}
input[type="reset"]{
    width: 110px;
    height: 50px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
}
input[type="radio"]{
    width: 40px;
    height: 28px;
}
input[type="radio"]:hover{
    transform: scale(1.4);
    cursor: pointer;
}
input[type="checkbox"]{
    width: 50px;
    height: 28px;
}
input[type="checkbox"]:hover{
    transform: scale(1.4);
    cursor: pointer;
    border: 2px solid green;
}
select{
    font-size: 20px;
    width: 350px;
    background-color: #f8f8f8;
    color:black;
    cursor: pointer ;
    outline: blue;
}
select:focus{
    outline: 0;
    border: 2px solid #f1516c;
    border-radius: 8px;
    transform: scale(1);
    
}
textarea {
    width: 500px;
    height: 80px;
    font-family: "Ubuntu";
}
input[type="reset"]:hover{
    background-color: rgb(242, 7, 10);
    border-radius: 0;
    transform: scale(1.1);
}